*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%;
}
body{
  background: #2ecc71;
  height: 100vh;
  width: 100%;
  font-family: 'Big Shoulders Display', cursive;
}

#date-s{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
  background: #f1f1f1;
  max-width: 300px;
  width: 100%;
  margin: 1em auto;
}
#date{
  padding: .3125em 2em;
  font-size: 1.5em;
  line-height: 1.5em;
  cursor: pointer;
}
#select{
  display: none;
  width: 100%;
  position: absolute;
  top: 3.188em;
  left: 0;
  background: #f1f1f1;
  padding: .3125em;
}
.current-d{
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
}
.current-d span{
  display: inline-block;
  padding: .5em 0;
  cursor: pointer;
}

.arrow-control span{
  padding: .5em .3125em;
  float: left;
}

.h-slider-vw{
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.h-slider{
  height: 100%;
  width: 300%;
  display: flex;
}
.h-slide{
  width: calc(100%/3);
  height: 100%;
  position: relative;
}

.days-col, #d-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.days-col span.item{
  color: #3498db;
}
.days-col{
  z-index: 10;
  position: absolute;
  background: #f1f1f1;
}
#d-container{
  margin-top: 40px;
  transition: all .5s;
}
#d-container span.item{
  border: 1px solid #e1e1e1;
  cursor: pointer;
  transition: all .3s;
}
#d-container span.item:hover{
  background: #e1e1e1;
  border-color: #a1a1a1;
}
span.item{
  display: inline-block;
  width: calc(100%/7);
  min-height: 38px;
  padding: .688em 0;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
}
span.other{
  background: #e1e1e1;
}
#d-container span.selected{
  border-color: #3498db;
  color: #3498db;
}
